.main{
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;

}

.nav-container{
    border: 2px solid black;
    width: 100%;
}
.logo-box{
    width: 20%;
    border: 2px solid red;
}
.feeds-box{
    width: 50%;
    border: 2px solid green;
}
.detail-box{
    width: 30%;
    border: 2px solid red;
}
.container{
    border: 2px solid black;
}
.sidebar-main{
    width: 20%;
    border: 2px solid red;
}
.sidebar{
    display:'inline-block';
    width: 70%;
}
.post-main{
    width: 50%;
    border: 2px solid green;
    height: 100vh;
    overflow-y: auto;
    
}

.userfollow-main{
    width: 30%;
    border: 2px solid red;
}