.main{
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
background-color: rgb(29, 28, 28);
}

.nav-container{
    width: 100%;
}
.logo-box{
    width: 20%;
}
.feeds-box{
    width: 50%;
}
.detail-box{
    width: 30%;
}

.sidebar-main{
    width: 20%;
}
.sidebar{
    
    width: 70%;
}
.post-main{
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    margin-top: .5rem;
}

.userfollow-main{
    width: 30%;
}

.form-main{
width: 100%;
}
.container-main-form{
    width: 40%;
    margin: auto;
    margin-top: 5rem;
}
.form-img{
    width: 50%;
    
}
.form-container{
width: 50%;

}